@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:wght@400;700&display=swap');

@layer base {
  :root {
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
  
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-foreground;
    min-width: 430px;
    overflow-x: auto;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  }
  
  html {
    font-size: 16px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Baskervville', serif;
  }
  
  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes twinkle {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  }
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}

.animate-twinkle {
  animation: twinkle 1.5s ease-in-out infinite;
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out;
}